flow/build
flow/sim
flow/gen_blobs
flow/gen_deps
flow/parser.out
flow/parsetab.py
flow/vxe
flow/sdk

__pycache__
.simvision
.bpad
*.diag
*.log
*.fsdb
.nfs*
*.pyc
irun.*
waves.shm
novas.conf
novas.rc
verdiLog/
*~
*AN.DB*
*csrc*
*simv*
*vc_hdrs.h*
*waves*
*.history
work.lib++/
ucli.key
*.d
*.o
.vscode
.DS_Store
._.DS_Store
*.pyc
*.pyo
**/target
**/Cargo.lock
**/tmp/*.pcap
*.exe
**/*trace.json
